aiohttp==3.1.3
alabaster==0.7.10
aniso8601==1.3.0
argh==0.26.2
arrow==0.12.0
async-timeout==2.0.1
attrs==17.4.0
Babel==2.6.0
beautifulsoup4==4.6.0
binaryornot==0.4.4
bleach==1.5.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
colorlover==0.2.1
cookiecutter==1.6.0
cufflinks==0.12.1
cycler==0.10.0
decorator==4.1.2
Django==2.0.1
django-jenkins==0.110.0
docutils==0.15b0.dev0
entrypoints==0.2.3
enum34==1.1.6
environment==1.0.0
Flask==0.12.2
Flask-RESTful==0.3.6
future==0.16.0
fuzzywuzzy==0.16.0
gevent==1.2.2
graphviz==0.8.2
greenlet==0.4.12
gym==0.9.4
gym-maze==0.4
h5py==2.7.1
html5lib==0.9999999
IbPy2==0.8.0
-e git+https://gitlab.com/doctorj/ibroke.git@dcb04b49b5135b9c38e7721f45ce0ce76b8b0d2d#egg=IBroke
idna==2.6
idna-ssl==1.0.1
image==1.5.17
imagesize==1.0.0
inotify==0.2.9
inotify-simple==1.1.7
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jinja2-time==0.2.0
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.0
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.2
jupyterlab-launcher==0.10.3
Keras==2.1.5
keras-rl==0.4.0
lxml==4.1.1
Mako==1.0.7
Markdown==2.4.1
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.8.3
multidict==4.2.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nose==1.3.7
notebook==5.2.2
numpy==1.14.3
packaging==17.1
pandas==0.22.0
pandas-datareader==0.5.0
pandocfilters==1.4.2
parso==0.1.1
pathtools==0.1.2
patsy==0.4.1
pdoc==0.3.2
pickleshare==0.7.4
Pillow==5.0.0
pkginfo==1.4.1
plotly==2.3.0
pluggy==0.6.0
poyo==0.4.1
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.5.1
psycopg2==2.7.3.2
py==1.5.2
pydot==1.2.4
pygame==1.9.3
pyglet==1.3.0
Pygments==2.2.0
pymc3==3.2
pyparsing==2.2.0
pytest==3.3.1
python-dateutil==2.6.1
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
readchar==0.7
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-toolbelt==0.8.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
selenium==3.9.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
tensorflow==1.15.4
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
testpath==0.3.1
tgym==0.1.13
Theano==1.0.1
tornado==4.5.2
tox==2.9.1
tqdm==4.19.5
traitlets==4.3.2
twine==1.9.1
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7P
webencodings==0.5.1
websockets==4.0.1
Werkzeug==0.14.1
whichcraft==0.4.1
widgetsnbextension==3.1.0
yarl==1.2.2
